@import '~material-design-icons/iconfont/material-icons.css';
@import '~materialize-css/sass/materialize.scss';

@import '_nav_auto_color.scss';

label.sidenav-trigger-label i {
    @media #{$large-and-up} {
        display: none;
    }
    color: $navbar-font-color;
}
input[type="checkbox"].sidenav-trigger {

    &:checked ~ .sidenav {
        transform: translateX(0%);
    }
}

.sidenav {
    label.sidenav-trigger-label {

        text-align: right;

        i {
            margin: 0 ($sidenav-padding * 2);
            color: $sidenav-font-color;
        }
    }
}

.input-field .helper-text {
    min-height: auto;
}

.row {
    margin-bottom: 0;
}
