{# src/resources/views/components/nav.html.twig #}

{#

This partial template can be used via an twig embed.

```
{% embed "@MaterialTheme/components/nav.html.twig" %}
    {% set id = 'nav-mobile' %}
    {% set classes = ['sidenav'] %}

    {% block nav_links %}
        <li><a href="{{ path('route') }}">Link Text</a><li>
    {% endblock nav_links %}
{% endembed %}
```
#}

{% block nav_wrapper %}
<ul
    {%- if id is defined %} id="{{ id }}"{% endif -%}
    {%- if classes is defined %} class="{{ classes|join(" ") }}"{% endif -%}>
    {% block nav %}
        {% block nav_before %}
        {% endblock nav_before %}
        {% block nav_links %}
        {% endblock nav_links %}
        {% block nav_after %}
        {% endblock nav_after %}
    {% endblock nav %}
</ul>
{% endblock nav_wrapper %}
